@charset "utf-8";
/* CSS Document */

/* feuille de style pour le dossier des exercices ebook  */

body {
    background-color: cornsilk;
}

/* styles pour la DL, les DT et les DD  */


dl {
    border: 2px solid orange;
    width: 50%;
    padding: 20px;
}

dt {
    background-color: lightskyblue;
    margin-top: 10px;
    font-weight: bold;
    color:white;
    width: 50%;
    height: 1.5em;
}

dd {
   border-left: 10px solid lightskyblue;
   padding-left: 2px;
   margin-bottom: 25px;
}

dl code {
    background-color: whitesmoke;
}

/* style pour bien voir les réponses aux questions  */
.reponse {
    background-color: gold;
    font-style: italic;
}


/* style encadré  */

.encadre {
    width: 60%;
    background-color: white;    
    border: 5px solid orange;   
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
}


abbr {
    /* border-bottom: 2px dotted orange; */
    letter-spacing: 5px;
}

.texte_gras {
    font-weight: 900;
}

blockquote {

    background-color: lightskyblue;
    text-indent: 20px;
    padding: 5px;

}